// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@media screen and (min-device-width:768px){
    //画面サイズが768px以上の場合読み込む

    // boards/index.html.erbに影響するの
    .jumbotron {
        background: image-url("frank-mckenna-unsplash.jpg");
        background-size: cover;
        background-position: center 60%;
        padding-bottom: 200px;
      }
    .jumbotron h1 {
        color: #F5F5F5;
    }
    .showPC{
        margin-left: 100px;
    }
    .list-group{
        max-width: 100%;
    }
    .list-group-item {
        margin-left: 100px;
        margin-right: 100px;
    }

    // boards/index.html.erb boards/show.html.erb に影響
    .form-inline {
        margin-left: 100px;
        margin-bottom: 15px;
    }
}


// スマホ用に
@media screen and (max-device-width:767px) {
    //　画面サイズが767px以下の場合読み込む


  //boards すべてのフォームに影響
    .form-control {//テキストエリアのcss を設定
        font-size:6vw;
    }
    //フォーム大きさの設定
    input[type=text]{
        height:auto;
    }


  // boards/index.html.erbに影響するの
    .jumbotron {
        background: image-url("frank-mckenna-unsplash.jpg");
        background-size: cover;
        background-position: center 60%;
        padding-bottom: 15vh;
    }
    .jumbotron h1{
        color: #F5F5F5;
        font-size: 10vw;
        position: relative;
        top: 14vh;
    }
    .showPC{
        //margin-left: 10px;
        margin-left: 1vw;
    }
    .list-group{
        max-width: 100%;
    }
    .list-group-item {//ボード一覧の，表の設定
        margin-left: 1vw;
        width: 90vw; 
    }
    /*
    h1{
        font-size:80px;
    }
    */
    .show_UserName{
        font-size:8vw;
    }
    .show_ShareBoard{
        font-size:8vw; 
        margin-left:1vw;
    }
    //+ボタンの設定
    .btn.btn-primary.mb-2.plus{
        font-size:5vw;
        //ボタンの大きさを変える(プラス文字が上に長い)
        padding-top:1vw;
        padding-bottom:1vw;
        padding-left:3vw;
        padding-right:3vw;
    }
    //共有ボタンの設定
    .share{
        margin-bottom: 1vh;
        margin-right: 1vw;
        font-size:5vw;
        padding:2vw;//ボタンの大きさを変える
    }
    //解除ボタンの設定
    .cancel{
        margin-bottom: 1vh;
        font-size:5vw;
        padding:2vw;//ボタンの大きさを変える 
    }

  //波情報編集(entory_form mood_form wave_form のhtml.erb) に影響するの
    .PointName{//これは，show.html.erbにも影響
        font-size:8vw;
    }
    .back_ShowPage{
        font-size:4vw;
    }

  //entory_form.html.erbに影響するの
    .btn.btn-primary.mb-2.btn-sm-2.edit_Entry{//エントリーの仕方の投稿ボタン
        font-size:5vw; 
        padding:2vw;//ボタンの大きさを変える
        margin-top:1vh;
        margin-bottom:1vh;
    }
  
  //mood_form.html.erbに影響するの
    .btn.btn-primary.mb-2.btn-sm-2.edit_Mood{
        font-size:5vw; 
        padding:2vw;//ボタンの大きさを変える
        margin-top:1vh;
        margin-bottom:1vh; 
    }

  //wave_form.html.erbに影響するの
    .btn.btn-primary.mb-2.btn-sm-2.edit_Wave{
        font-size:5vw; 
        padding:2vw;//ボタンの大きさを変える
        margin-top:1vh;
        margin-bottom:1vh;  
    }
    .form-group.Wave{
        .form-control{//プルダウン形式のところ
            font-size: 5vw;
            height: auto;
        }
    }

 //search.html.erbに影響するの
    .show_SearchUser{
        font-size:8vw; 
    }
    .btn.btn-primary.mb-2.search{
        font-size:5vw; 
        padding:2vw;//ボタンの大きさを変える
        margin-top:1vh;
        margin-bottom:1vh;   
    }  
    .back_PointList{                //show.html.erbにも影響している
        font-size:4vw; 
    }
    .CanShare_User{//共有できるユーザのニックネームのところ
        font-size:5vw;
    }
    .btn.btn-danger.chancel_Share{//共有解除ボタン
        font-size:5vw; 
        padding:2vw;//ボタンの大きさを変える
        margin-top:1vh;
        margin-bottom:1vh;   
    }
    .btn.btn-primary.do_Share{//共有するボタン
        font-size:5vw; 
        padding:2vw;//ボタンの大きさを変える
        margin-top:1vh;
        margin-bottom:1vh; 
    }

  //show.html.erbに影響するの
    .text_WaveInfo{//波情報と表示するところ
        font-size:6vw;
    } 
    .btn.btn-info.input_WaveInfo{//波情報を入力するボタン
        font-size:5vw; 
        padding:2vw;//ボタンの大きさを変える
        margin-top:1vh;
        margin-bottom:1vh;  
    }
    .btn.btn-danger.mb-2.btn-sm.delete_TableWaveInfo{//波情報のテーブルを解除するボタン
        font-size:5vw; 
        padding:2vw;//ボタンの大きさを変える
        margin-top:1vh;
        margin-bottom:1vh;  
    }
    .btn.btn-info.Input_Mood{//サーフポイントの雰囲気を入力するボタン
        font-size:5vw; 
        padding:2vw;//ボタンの大きさを変える
        margin-top:1vh;
        margin-bottom:1vh;   
    }
    .btn.btn-info.Input_Entory{//エントリーの仕方を入力するボタン
        font-size:5vw; 
        padding:2vw;//ボタンの大きさを変える
        margin-top:1vh;
        margin-bottom:1vh;   
    }
    .table.table-striped.show_WaveInfo{//波情報をテーブルとして,表示するところ
        tr{
            font-size:4vw;
        }
    }
    .table.table-striped.show_Mood{//ムードを表示するところ
        td{
            font-size:4vw; 
        }
    }
    .table.table-striped.show_Entory{//エントリーを表示するところ
        td{
            font-size:4vw;
        }
    }
    .pagination{//波情報のテーブルを分けているやつ
        font-size:5vw;
    }
    //geolocation.jsに記述されている
    .btn.btn-success.route{//ルートボタン
        font-size:5vw; 
        padding:2vw;//ボタンの大きさを変える
        margin-top:1vh;
        margin-bottom:1vh;   
    }

  //いろんなところに影響している???
    h3 {//entry_form.html.erb mood_form.html.erb に影響
        font-size:50px;
        color:black;
    }
    .form-group{
      font-size: 40px;
    }
    .btn{
      font-size: 40px;
    }
    // boards/index.html.erb boards/show.html.erb に影響
    .form-inline {//bootstrapの機能
        margin-left: 10px;
        margin-bottom: 15px;
        // padding: 14px 24px;
        font-size:30px;
    }
}
